<footer class="mt-auto bg-light text-center py-3">
    <!-- Your footer content -->
    <div>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-x-twitter"></i>
    </div>
    <p class="mb-0">© WanderLust Private Limited</p>
    <a href="/privacy">Privacy</a> <a href="terms">Terms</a>
  </footer>